<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-progress-bar
      [style.visibility]="(isLoading | async) ? 'visible' : 'hidden'"
      mode="indeterminate"
    ></mat-progress-bar>
    <file-explorer-loading-screen *ngIf="(initialLoad | async)"></file-explorer-loading-screen>
    <file-explorer-file-tree
      *ngIf="(initialLoad | async) === false"
      [selectedFileItem]="selectedFileItem"
      [trees]="trees | async"
      (fileNodeClicked)="handleFileNodeClick($event)"
      (deleteClicked)="handleDeleteClick($event)"
      (movedFile)="handleFileMove($event)"
      (fileItemAddClicked)="handleFileItemAddClick($event)"
    ></file-explorer-file-tree>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="side" position="end" [opened]="sidebarOpened" [disableClose]="true">
    <file-explorer-file-details
      [fileItem]="selectedFileItem"
      (closeButtonClicked)="closeSidebar()"
      (editedName)="handleEditName($event)"
    ></file-explorer-file-details>
  </mat-sidenav>
</mat-sidenav-container>
