:host {
  display: block;
  min-width: 300px;
  max-width: 600px;
  margin: 20px auto 50px auto;

  &:hover {
    .add-buttons-group.show-button-group {
      visibility: visible;
      color: #757575;
      margin-bottom: 20px;
    }
  }
}

.add-buttons-group {
  visibility: hidden;
  margin-bottom: 20px;

  &.show-button-group {
    visibility: hidden;
    margin-bottom: 20px;
  }
}

.type-icon {
  color: #757575;
  margin-right: 5px;
}

.mat-tree-node + .tree-root {
  border-top: 1px solid #e0e0e0;
}

.delete-button {
  visibility: hidden;
  color: #757575;
}

.clickable-tree-node {
  width: 100%;
}

.mat-tree-node:hover {
  cursor: pointer;
  background-color: rgb(247, 247, 247);

  &.background-highlight {
    background-color: lightgray;
  }

  .delete-button {
    visibility: visible;
  }
}

.background-highlight {
  background-color: lightgray;
}

.mat-tree {
  background-color: #fafafa;
}
