<div class="add-buttons-group" fxLayout fxLayoutAlign="end center">
  <button mat-icon-button><mat-icon fontSet="material-icons-outlined">note_added</mat-icon></button>
  <button mat-icon-button><mat-icon fontSet="material-icons-outlined">create_new_folder</mat-icon></button>
</div>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" cdkDropList cdkDropListSortingDisabled>
  <mat-tree-node
    [ngClass]="{ 'background-highlight': selectedFileItem?.stats?.ino === node.stats.ino }"
    *matTreeNodeDef="let node"
    matTreeNodePadding
    cdkDrag
    [cdkDragData]="node"
    (cdkDragStarted)="isDragging = true"
    (cdkDragEnded)="isDragging = false"
    (cdkDragDropped)="handleDrop($event)"
    fxLayout
    fxLayoutAlign="space-between center"
    (mouseenter)="nodeHoveredOver = node"
    (mouseleave)="nodeHoveredOver = null"
  >
    <div
      class="clickable-tree-node"
      fxLayout
      fxLayoutAlign="start center"
      (click)="handleFileNodeClick(node)"
      matTreeNodeToggle
    >
      <button mat-icon-button disabled></button>
      <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
        {{ node.type === 'file' ? 'description' : 'folder' }}
      </mat-icon>
      {{ node.name }}
    </div>
    <button class="delete-button" mat-icon-button style="justify-content: flex-end" (click)="handleDeleteClick(node)">
      <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
    </button>

    <div *cdkDragPreview fxLayout>
      <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
        {{ node.type === 'file' ? 'description' : 'folder' }}
      </mat-icon>
      {{ node.name }}
    </div>
  </mat-tree-node>

  <mat-tree-node
    [class.tree-root]="isTreeRoot(node)"
    [ngClass]="{ 'background-highlight': selectedFileItem?.stats?.ino === node.stats.ino }"
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePadding
    cdkDrag
    [cdkDragData]="node"
    (cdkDragStarted)="isDragging = true"
    (cdkDragEnded)="isDragging = false"
    (cdkDragDropped)="handleDrop($event)"
    fxLayout
    fxLayoutAlign="space-between center"
    fileExplorerHesitate
    (hesitates)="handleHesitate(node)"
    (mouseenter)="nodeHoveredOver = node"
    (mouseleave)="nodeHoveredOver = null"
  >
    <div
      class="clickable-tree-node"
      fxLayount
      fxLayoutAlign="start center"
      (click)="handleFileNodeClick(node)"
      matTreeNodeToggle
    >
      <button disableRipple mat-icon-button [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
        {{ treeControl.isExpanded(node) ? 'folder_open' : 'folder' }}
      </mat-icon>
      {{ node.name }}
    </div>
    <button class="delete-button" mat-icon-button style="justify-content: flex-end" (click)="handleDeleteClick(node)">
      <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
    </button>

    <div *cdkDragPreview fxLayout>
      <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
        {{ treeControl.isExpanded(node) ? 'folder_open' : 'folder' }}
      </mat-icon>
      {{ node.name }}
    </div>
  </mat-tree-node>
</mat-tree>
